*, ::before, ::after{
    margin: 0;
    padding: 0;
  }
:root{
    --black: #26220E;
    --wine: #730D15;
    --red: #f20519;
    --gray1: #595959;
    --gray2: #262626;
    --white: #f4f5f0;
    }

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

/* here starts navbar customization */

nav{
display: flex;
width: 100%;
height: 50px;
background-color: var(--white);
border-bottom: 2px solid var(--wine);
align-items: center;
}
nav i{
    cursor: pointer;
}
.logo-container{
    flex-basis: 30vw;
    display: flex;
    margin: auto;
    align-items: center;
    height: 100%;
}
#burguer-menu{
    padding-left: 20px;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
#dat{
    font-size: 8px;
    height: 1.4rem;
    display: flex;
    align-items: flex-end;
    padding-left:4px;
    color: var(--wine);

}
.logo-container h1{
    padding-left:20px;
    font-size: 1.5rem;
    height: 100%;
    display: flex;   
    align-items: center;
    cursor: pointer;
   
}
.searcher-container{
    flex-basis: 40vw;
    text-align: center;
    margin: auto;
}
.searcher-container input{
    width: 70%;
    height: 1.5rem;
    border: 1px solid var(--wine);
    margin-left: 20px;
    margin-right: 20px;
}
.searcher-container i{
    font-size: 1.3rem;
    padding-right: 20px;
}
.profile-container{
    flex-basis: 30vw;
    margin: auto;
    display: flex;
    text-align: left;
    
}
.profile-container i{
    text-align: left;
    margin-left: 20px;
}
#div1{
    flex-basis: 70%;
}
