*, ::before, ::after{
    margin: 0;
    padding: 0;
  }
:root{
    --black: #26220E;
    --wine: #730D15;
    --red: #f20519;
    --gray1: #595959;
    --gray2: #262626;
    --white: #f4f5f0;
    }

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

/* here starts navbar customization */

nav{
display: flex;
position: fixed;
width: 100%;
height: 50px;
background-color: var(--white);
border-bottom: 2px solid var(--wine);
align-items: center;
}
nav i{
    cursor: pointer;
}
.logo-container{
    flex-basis: 30vw;
    display: flex;
    margin: auto;
    align-items: center;
    height: 100%;
}
#burguer-menu{
    padding-left: 20px;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
#dat{
    font-size: 8px;
    height: 1.4rem;
    display: flex;
    align-items: flex-end;
    padding-left:4px;
    color: var(--wine);

}
.logo-container h1{
    padding-left:20px;
    font-size: 1.5rem;
    height: 100%;
    display: flex;   
    align-items: center;
    cursor: pointer;
   
}
.searcher-container{
    flex-basis: 40vw;
    text-align: center;
    margin: auto;
}
.searcher-container input{
    width: 70%;
    height: 1.5rem;
    border: 1px solid var(--wine);
    margin-left: 20px;
    margin-right: 20px;
}
.searcher-container i{
    font-size: 1.3rem;
    padding-right: 20px;
}
.profile-container{
    flex-basis: 30vw;
    margin: auto;
    display: flex;
    text-align: left;
    
}
.profile-container i{
    text-align: left;
    margin-left: 20px;
}
#div1{
    flex-basis: 70%;
}

/* here starts principal section customization */
.principal-section{
    height: 400vh;
    display: flex;
}
.video-section{
    height: 100%;
   flex-basis: 70%;
   background-color: var(--black);
}
.recomendations{
    height: 100%;
    flex-basis: 30%;
}
.video{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
.video iframe{
    width: 80%;
    height: 85%;
    margin: auto;
    padding-top: 50px;
}
.feedback-bar{
    width: 80%;
    text-align: left;
    color: var(--white);
    margin-left: 10%;
    margin-right: 10%;
    height: 10vh;
    display: block;
    
}
.video-title{
    height: 5vh;
}
.video-reactions{
    height: 5vh;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid var(--gray1);
}
.video-reactions div{
    display: flex;
}
.video-reactions div i{
    padding-right: 10px;
}
.video-reactions div h3{
    font-size: 15px;
}
